@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f8fafc;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

.profileName,
.profileEmai {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}
.profileNameActive,
.profileEmailActive {
  width: 100%;
  background-color: rgba(44, 44, 44, 0.1);
}
